<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoHouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E23FAB691BCA403200F451BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E25184AE1C14338900C8E082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2861057199118B900FB6E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2861078199118B900FB6E2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
